{% load static %}

<header class="p-1 mb-0 border-bottom">
    
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-between"> 
            
            
            <a href="/" style="grid-template-columns: 1fr 1fr;" class="d-grid gap-0 column-gap-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap"> 
                    <img class="" src="{% static 'image/logo.png' %}" alt="A descriptive name for the image" width="40" height="40">
                    <div class="position-relative p-4">
                        <p class="fs-5 opacity-75 position-absolute top-50 start-50 translate-middle">Yummy!</p>
                    </div>
            </a>
            
            
            <ul class="nav col-lg-auto me-lg-4 justify-content-center"> 
                <li><a href="{% url 'overview' %}" class="nav-link px-2 link-secondary">See this bro!</a></li>
                {% if user.profile.usertype == 'seller' %}
                <li><a href="{% url 'order_history' %}" class="nav-link px-2 link-body-emphasis">History</a></li>
                {% endif %}
                {% if user.profile.usertype == 'user' %}
                <li><a href="{% url 'order_history'  %}" class="nav-link px-2 link-body-emphasis">History</a></li>
                {% endif %}
                {% if user.profile.usertype == 'seller' %}
                <li><a href="{% url 'my-restaurant' res_id=my_restaurant.Restaurant_ID %}" class="nav-link px-2 link-body-emphasis">My restaurant</a></li>
                {% endif %}
                {% if user.profile.usertype == "user" or user.profile.usertype == "admin" %}
                <li><a href="{% url 'my_order' %}" class="nav-link px-2 link-body-emphasis">My Orders Status</a></li>
                {% endif %}
                {% if user.profile.usertype == 'user' or user.profile.usertype == 'admin' %}
                <li>
                    <a href="{% url 'cart_page' %}" class="nav-link px-2 link-body-emphasis">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                    </a>
                </li>
                {% endif %}
                {% if user.profile.usertype == 'seller' %}
                <li><a href="{% url 'restaurant_order' res_id=my_restaurant.Restaurant_ID %}" class="nav-link px-2 link-body-emphasis">Orders</a></li>
                {% endif %}
            </ul>
            
            <div class="d-flex align-items-center"> 
                <form class="me-3" role="search" method="GET" action="{% url 'home' %}">
                    <input type="search" class="form-control"
                    name="q" 
                    placeholder="Search by ID Restaurant" 
                    aria-label="Search"
                    value="{{ request.GET.q }}">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'image/profile_logo.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    {% if user.is_authenticated %}
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="#">{{ user.username }} | {{ user.profile.usertype }}</a></li>
                            {% if user.profile.usertype != 'seller' %}
                                <li><a class="dropdown-item" href="{% url 'register-myrestaurant' %}">register my restaurant</a></li>
                            {% endif %}
                            {% if user.profile.usertype == 'seller' %}
                                <li><a class="dropdown-item" href="#">setting my restaurant</a></li>
                            {% endif %}
                            {% if user.profile.usertype == 'admin' %}
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                        </ul>
                    {% else %}
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="{% url 'login' %}">Sign in</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</header>