{% extends 'yummy_yummy/base.html'%}

{% load static %}

{% block content %}

<div class="">
  <h2>This the Restaurant information:</h2> if you want to be the Seller, you can use these user to manage the order from custumer,<br> or you can create Restaurant by login first and than click on profile on top right than click register Restaurant.<br><br>
  somchai Restaurant | id: 10 <br>
  user mane: somchai <br>
  password: 123456 <br>
  <br>
  ไก่ติดคอ | id: 11 <br>
  user mane: a <br>
  password: 123456 <br>
  <br>
  น้ำหวาน | id: 12 <br>
  user mane: b <br>
  password: 123456 <br>
  <br>
  <br>

</div>

{% endblock content %}